@{
    ViewData["Title"] = "BooksAPP Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the @AppSettings.Title</h1>
    <p>21243510002</p>
    <p>@AppSettings.Description</a>.</p>
    <p>Developed by @AppSettings.Developer</p>
    <p>Student Id @AppSettings.Student_Number</p>
</div>
